<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>New Tab</title>
		<link type="text/css" rel="stylesheet" href="/static/fonts/stylesheet.css">
		<link type="text/css" rel="stylesheet" href="/static/styles/main.css" />

		<script src="/static/scripts/time.js" type="text/javascript"></script>
	</head>
	<body>
		<h1 id="greeting"><span id="salutation">Good morning!</span> It's <span id="time"></span> on <span id="date"></span>.</h1>

		Websites that you might consider going to:

		<ul>
			<li><a href="http://www.webassign.net/v4cgi/student.pl?UserPass=a14f723eb6bd38f403e799f9a577588a">WebAssign</a></li>
			<li><a href="https://canvas.uw.edu/">Canvas</a></li>
			<li><a href="https://catalyst.uw.edu/">Catalyst</a></li>
			<li><a href="https://my.uw.edu">MyUW</a></li>
		</ul>
	</body>
</html>
